@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>@ViewData["Title"]</p>
    <h1 class="display-4">Welcome to Razor Pizzeria</h1>
    <h2 class="display-4">Razor Pizza is the best pizza in town!!</h2>
    <img class="mainImage" src="~/Images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary mt-2" href="~/Pizza">Bring Me That PIZZA!!</a>
    
</div>
